@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;600&display=swap");
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-helvetica-neue);
  --font-mono: var(--font-geist-mono);
  --font-geom: var(--font-cmgeom);
  --font-pixel: var(--font-geist-pixel-square);
}

.geom {
  font-family: var(--font-cmgeom);
}

.mono {
  font-family: var(--font-geist-mono);
}

.sans {
  font-family: var(--font-helvetica-neue);
}

.pixel {
  font-family: var(--font-geist-pixel-square);
}

.rinter {
  font-family: var(--font-rinter);
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.blue{
  background-color: #0671FF;
}


.lime {
  background-color: #f8ff9a;
}
.lime-one {
  background-color: #f5fd83;
}
.gray {
  background-color: #fcfcfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#__next {
  overscroll-behavior-x: none;
  overscroll-behavior-y: contain;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* globals.css */
@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-reveal {
  animation: reveal 1.2s ease-out forwards;
}

@keyframes grain {
  0%   { background-position: 0% 0%; }
  10%  { background-position: -5% -10%; }
  20%  { background-position: -15% 5%; }
  30%  { background-position: 7% -25%; }
  40%  { background-position: -5% 25%; }
  50%  { background-position: -15% 10%; }
  60%  { background-position: 15% 0%; }
  70%  { background-position: 0% 15%; }
  80%  { background-position: 3% 35%; }
  90%  { background-position: -10% 10%; }
  100% { background-position: 0% 0%; }
}

.grain {
  animation: grain 0.8s steps(1) infinite;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome + Safari */
}
.max-h-64 {
  scroll-behavior: smooth;
}